@import 'tailwindcss';

@font-face {
  font-family: Peristiwa;
  src: url('./assets/fonts/SVN-Peristiwa.otf') format('truetype');
}

@font-face {
  font-family: Marmelad;
  src: url('./assets/fonts/Marmelad-Regular.ttf') format('truetype');
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Marmelad', sans-serif;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Marmelad', sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.marmelad-regular {
  font-family: 'Marmelad', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-peristiwa {
  font-family: 'Peristiwa', sans-serif;
}

#guest-book::after {
  content: '';
  width: 100%;
  max-width: 857px;
  height: auto;
  aspect-ratio: 857 / 585; /* Maintain the original aspect ratio */
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
  background-position: center;
  background-image: url(./assets/10350746.svg);
  background-repeat: no-repeat;
  background-size: contain; /* Ensure the image scales properly */
  opacity: 0.8; /* Optional: Add transparency for better blending */
}
